<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'home' %}">Receipts</a>
          </li>
          <li>
            <a href="{% url 'create_receipt' %}">Create receipt</a>
          </li>
          <li>
            <a href="{% url 'list_accounts' %}">Accounts</a>
          </li>
          <li>
            <a href="{% url 'create_account' %}">Create account</a>
          </li>
          <li>
            <a href="{% url 'list_category' %}">Categories</a>
          </li>
          <li>
            <a href="{% url 'create_category' %}">Create category</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </nav>
      </header>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
